* {
    font-family: sans-serif;
}

.input-container{
    max-width:400px;
    margin:auto;
}

.input-group {
    display: flex;
    flex-direction: row;
}

.icon-box {
    background-color: gray;
    border: 1px solid black;
    margin: auto;
    padding: 8px;
    padding-bottom: 6px;
    border-start-start-radius: 3px;
    border-end-start-radius: 3px;
}
    
.input-field {
    width: 15em;
    height: 30px;
    border-end-start-radius: 3px;
    border-start-end-radius: 3px;
}

.button-field{
    margin-top: 20px;
    margin-bottom: 30px ;
    text-align: center;
    width:max-content;
    font-size: 30px;
    position:relative;
}


.error-message {
    display: none;
    color: red;
    font-size: 10px;
}